@model List<Productos>

@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Estilos{
    <link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet" />
}

<div class="card">
    <div class="card-header">
        Lista de Productos
    </div>
    <div class="card-body">
        <a asp-action="GuardarForm" asp-controller="Productos" class="btn btn-success">Crear nuevo</a>
        <hr />
        <table id="tb_productos" class="display" style="width:100%">
            <thead>
                <tr>

                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Proovedor</th>
                    <th>Funciones</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.PRODUCTOS_COD</td>
                        <td>@item.NOMBRE</td>
                        <td>@item.PRECIO</td>
                        <td>@item.STOCK</td>
                        <td>@item.PROVEEDORES_COD</td>
                        
                        <td>
                            <a asp-action="Editar" asp-controller="Productos" class="btn-primary btn-sm" asp-route-id="@item.PRODUCTOS_COD">Editar</a>
                            <a asp-action="Eliminar" asp-controller="Productos" class="btn-primary btn-sm" asp-route-id="@item.PRODUCTOS_COD">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tb_productos').DataTable();
        });
    </script>
}